@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
}

button {
  /* !important means it will override any other styles, in this case it's the Antd design */
  box-shadow: none !important;
  height: 45px !important;
  border-radius: 2px;
}

input {
  height: 45px;
  width: 100%;
  border: 1px solid #6d6d6d;
  padding-left: 20px;
  border-radius: 2px !important;
}

.ant-input-password {
  border-radius: 2px !important;
  padding-top: 0px;
  padding-bottom: 0px;
}

.ant-select-selector,
.ant-input-textarea-affix-wrapper {
  border-radius: 2px !important;
}

.ant-select,
.ant-picker {
  height: 45px;
  border-radius: 2px !important;
  width: 100%;
}

.ant-form-item {
  margin-bottom: 0px !important;
}

a {
  color: #303030;
  text-decoration: underline !important;
}

a:hover {
  color: #303030;
}

i {
  font-size: 20px !important;
  cursor: pointer;
}

.ant-form-item-label {
  padding: 0% !important;
}

:disabled {
  color: #303030 !important;
}

table {
  border: 1px solid #c0c0c0 !important;
}

/*remove arrow from number input*/
@layer base {

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.ant-modal-title {
  text-align: center;
  font-size: 1.5rem !important;
  color: #101820 !important;
  text-transform: uppercase;
}

.ant-image-preview-operations {
  background-color: rgba(0, 0, 0, 0.4);
}

.ant-image-preview-operations-operation-flipY,
.ant-image-preview-operations-operation-flipX,
.ant-image-preview-operations-operation-rotateLeft,
.ant-image-preview-operations-operation-rotateRight {
  display: none;
}

.ant-upload.ant-upload-select {
  width: 100% !important;
}

.reviewModalStyle .ant-modal-footer {
  margin-top: 30px;
}

/* Extra extra small devices (phones, 499px and down) */
@media only screen and (max-width: 499px) {

  .reviews-table {
    display: none;
  }

  .review-card {
    display: block;
  }

}

/* Extra small devices (phones, 500px and up) */
@media only screen and (min-width: 500px) {

  .review-card {
    display: none;
  }

  .ant-table-cell i {
    font-size: 10px !important;
  }

  .ant-table-cell .ant-rate {
    font-size: 13px;
  }
}

/* Extra small devices (phones, 640px and down) */
@media only screen and (max-width: 640px) {

  .ant-table-cell {
    font-size: 10px !important;
  }

  .ant-table-wrapper .ant-table-cell-fix-right {
    position: static !important;
  }
}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 640px) {

  .ant-table-cell,
  .ant-table-cell i {
    font-size: 11px !important;
  }

  .ant-table-cell-fix-right {
    position: static !important;
  }

  .ant-table-cell .ant-rate {
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .ant-table-cell,
  .ant-table-cell i {
    font-size: 12px !important;
  }

  .ant-table-cell .ant-rate {
    font-size: 15px;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {

  .ant-table-cell,
  .ant-table-cell i {
    font-size: 13px !important;
  }

  .ant-table-cell .ant-rate {
    font-size: 16px;
  }
}

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {

  .ant-table-cell,
  .ant-table-cell i {
    font-size: 14px !important;
  }

  .ant-table-cell .ant-rate {
    font-size: 17px;
  }
}

.malaysia-state-flag-icon {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}